@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;600&display=swap');


body {
  display: flex;
  height: 100vh;
  background-color: #000000;
  color: #1467e2;
  font-family: 'Source Code Pro', monospace;
}
.ColumnContainer{
  display:flex;
  flex-direction: row;
}
@media (max-width: 768px) {
  .ColumnContainer {
    flex-direction: column;
  }
}
.experienceFlex {
  display: grid;
  grid-template-columns: repeat(6);
  grid-gap: 20px;
  padding: 20px;
  flex: 3;
}
.separator {
  height: 1px;
  background-color: #1467e2;
  
  width: 100%;
}

.experienceFlex > div {
  background-color: #141414;
  padding: 20px;
}
.formatted{
  margin-top: 40px;
  text-align: start;
  color: #023c92;
}
.referencesContainer {
  display: grid;
  grid-template-columns: repeat(6);
  grid-gap: 20px;
  padding: 20px;
  flex: 1;
}
.referencesContainer > div {
  background-color: #141414;
  padding: 20px;
}

.resume {
  text-align: center;
  padding: 20px;
}
.typewriter {
  
  display: inline-block;
}

.typewriter-text {
  font-size: 36px;
  overflow: hidden; /* Ensures the text is not displayed */
  border-right: .15em solid #1467e2; /* The typewriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  animation: typing 1.5s steps(40, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #1467e2;
  }
}
