@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;600&display=swap');


body {
  display: flex;
  height: 100vh;
  background-color: #0d0d0d;
  color: #1467e2;
  font-family: 'Source Code Pro', monospace;
}
.ColumnContainer{
  display:flex;
  flex-direction: row;
}
@media (max-width: 768px) {
  body {
    zoom: 0.7; /* Adjust the zoom level as needed */
  }
  .ColumnContainer {
    flex-direction: column;
  }
}
.experienceFlex {
  display: grid;
  grid-template-columns: repeat(6);
  grid-gap: 20px;
  padding: 20px;
  flex: 3;
}
.separator {
  height: 1px;
  background-color: #1467e2;
  width: 100%;
}

.experienceFlex > div {
  background-color: #141414;
  padding: 20px;
  outline: 1px dotted #1467e2;
  
}
.formatted{
  margin-top: 40px;
  text-align: start;
  color: #4687e7;
}
.referencesContainer {
  display: grid;
  grid-template-columns: repeat(6);
  grid-gap: 20px;
  padding: 20px;
  flex: 1;
}
.referencesContainer > div {
  background-color: #141414;
  padding: 20px;
  outline: 1px dotted #1467e2;
}

.resume {
  text-align: center;
  padding: 20px;
}
.typewriter {
  
  display: inline-block;
}

.typewriter-text {
  font-size: 36px;
  overflow: hidden; /* Ensures the text is not displayed */
  border-right: .15em solid #1467e2; /* The typewriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  animation: typing 1.5s steps(40, end), blink-caret .75s step-end infinite;
}

.button-group {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button-group button {
  outline: 2px solid #1467e2;
  background-color: #141414;
  color: white;
  font-family: 'Source Code Pro', monospace;
  padding: 10px 20px;
  margin: 0;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  
  animation-fill-mode: forwards;
}
button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #1467e2;
  border: none;
  outline: none;
  color: white;
  font-family: 'Source Code Pro', monospace;
  font-weight: bold;
  outline: 1px solid #1467e2;
}
.btnlinkedin {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.btnlinkedin button {
  cursor: pointer;
  text-decoration: none;
}
.button-group button.selected {
  background-color: #1467e2;
  color: white;
}

.button-group button:not(.selected):hover {
  color: #a0a0a0;
  transition: 0.3s;
}

@keyframes slideFill {
  0% {
    background-color: blue;
    color: white;
    width: 100%;
  }
  50% {
    background-color: blue;
    color: white;
    width: 0;
  }
  51% {
    background-color: transparent;
    color: black;
    width: 0;
  }
  100% {
    background-color: transparent;
    color: black;
    width: 100%;
  }
}

.button-group button.slide-animation {
  animation: slideFill 0.6s ease forwards;
  animation-delay: 0.3s;
}


@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #1467e2;
  }
}
