@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;600&display=swap');
.App {

}
input[type="number"],
textarea {
  background-color: black;
  border: 1px solid #24e344;
  border-radius: 10px;
  color: #24e344;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  display: flex;
  height: 100vh;
  background-color: black;
  color: #24e344;
  font-family: 'Source Code Pro', monospace;
}

.formatted{
  align-items:flex-start;
}

.resume {
  text-align: center;
}
.typewriter {
  display: inline-block;
}

.typewriter-text {
  overflow: hidden; /* Ensures the text is not displayed */
  border-right: .15em solid #24e344; /* The typewriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  animation: typing 1.5s steps(40, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #24e344;
  }
}
/*Experience Sections*/
.experienceFlex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
  font-size: 14px;
  overflow-x: hidden;
}
.exp1, .exp2, .exp3, .exp4, .exp5 {
  flex: 1;
}

/*solution button*/
.solution-btn {
  font-family: 'Source Code Pro', monospace;
  color: #24e344;
  background-color: #111;
  padding: 20px;
  font-weight: bold;
  border: none;
  outline: none;
  box-shadow: 0 0 10px #24e344;
}
.solution-btn:hover{
  animation: onHover 1s;
}
@keyframes onHover {
  100%{box-shadow: 0 0 25px #24e344;}
}
.calendar {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
}

.day {
  border: 1px solid black;
  padding: 10px;
  position: relative;
  cursor: pointer;
}

.day-square {
  width: 100%;
  height: 100%;
  background-color: #ccc;
}

.time-slots {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}


/* Select time buttons */
.availability-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  padding: 10px;
}

.availability-item {
  border: 2px solid transparent;
  padding: 10px;
  position: relative;
  cursor: pointer;
  transition: border-color 0.3s ease-in-out;
}

.availability-item.selected {
  border-color: green;
  box-shadow: 0 0 5px 2px rgba(0, 128, 0, 0.5);
}


/* Push back buttons*/
.push-back-button {
  font-family: 'Source Code Pro', monospace;
  color: #24e344;
  background-color: #111;
  padding: 10px 20px;
  margin-top: 10px;
  font-weight: bold;
  border: none;
  outline: none;
  box-shadow: 0 0 10px #24e344;
  transition: box-shadow 0.3s ease-in-out;
}

.push-back-button:hover {
  animation: onHover 1s;
  box-shadow: 0 0 25px #24e344;
}

@keyframes onHover {
  100% {
    box-shadow: 0 0 25px #24e344;
  }
}
